@font-face {
  font-family: 'SF';
  src: url('/static/fonts/sanfranciscodisplay-thin-webfont.woff') format('woff');
  font-weight: 100;       // For normal width. It could has another value
}
@font-face {
  font-family: 'SF';
  src: url('/static/fonts/sanfranciscodisplay-regular-webfont.woff') format('woff');
  font-weight: 400;       // For normal width. It could has another value
}
@font-face {
  font-family: 'SF';
  src: url('/static/fonts/sanfranciscodisplay-bold-webfont.woff') format('woff');
  font-weight: 600;       // For normal width. It could has another value
}

$SF: 'SF'